body {
  background-color: #fff;
  color: #999;
  font-family: Verdana, sans-serif;
  font-size: 18px;
}
h1 {
  text-align: center;
  color: #000;
}
.btn {
  margin: 10px;
}
.victoryMessage {
  text-align: center;
  color: #f00;
}
.controls {
  margin: 40px;
  text-align: center;
}
.board {
  margin-top: 8rem;
  div:nth-child(even) {
    div:nth-child(even) {
      background-color: black;
    }
  };
  div:nth-child(odd) {
    div:nth-child(odd) {
      background-color: black;
    }
  };
}

.line {
  margin:  auto;
  box-sizing: content-box;
  height: 8rem;
  width: 64rem;
  >div {
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    font-size: 9rem;
    font-weight: bold;
    height: 8rem;
    line-height: 9rem;
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    width: 8rem;
  }
}

.clickable {
  cursor: pointer;
}
.board.won {
  >div.x {
    color: #e6e6e6;
  }
  >div.o {
    color: #e6e6e6;
  }
  >div.x.win {
    color: #e61919;
  }
  >div.o.win {
    color: #19e619;
  }
}
